.color-options {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  justify-content: center;
  border: 1px solid rgba(222, 223, 229, 1);
  border-radius: 8px;
  padding: 10px;
}

.color-options img {
  width: 12px;
  height: 12px;
}

.color-label {
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 10px;
}
