.day-view {
  position: absolute;
  top: 100px;
  right: 50px;
  left: 300px;
  width: 75%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.day-view .today-content {
  background-color: #dff5e2;
  width: 105px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: calc(100% - 10px);
}

.day-view table {
  width: 100%;
  border-collapse: collapse;
}

.day-view tr td:first-child {
  width: 250px;
}

.day-view th,
.day-view td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.day-view th {
  background-color: white;
  font-weight: bold;
}

.day-view td {
  height: 80px;
  cursor: pointer;
  position: relative;
}

.day-view .event {
  background-color: rgba(0, 123, 255, 0.3);
  box-sizing: border-box;
  padding: 2px;
  margin: 2px 0;
}

.day-view .day-line {
  height: 100%;
  position: absolute;
  left: -1px;
}

.day-view td {
  padding: 0;
}

.day-view .event-cell .event {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
