.textarea-wrapper {
  position: relative;
  margin-bottom: 30px;
  width: 499px;
}

.textarea {
  min-width: 456px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  resize: none;
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

.maxlength-counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #666;
  display: none;
}

.textarea-wrapper p {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.line {
  width: 95%;
  background-color: rgba(115, 115, 115, 1);
}

textarea:focus {
  border-color: rgba(115, 115, 115, 1) !important;
}
